<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Surprize Blog</title>
</head>

<body>
    <% include navbar/navbar %>

    <div class="container post">
        <div class="row">
            <div class="col-md-6 post-title">
                <h1>Curriculum Vitae</h1>
                <p class="author">
                    <strong>Tentang Saya</strong>
                    <span class="text-muted"></span>
                </p>
            </div>
            <div class="col-md-6 col-md-offset-0 post-body">
                <p>
                    <h4>Nama : Ridho Indra Kriswiyanto</h4>
                </p>
                <p>
                    <h4>Kelas : XIRPL1</h4>
                </p>
                <p>
                    <h4>Absen : 39</h4>
                </p>
                <br>
                <p>
                    <h5>Blog ini dibuat karena blog ini adalah tugas surprize dari Bu Ratih.
                        Jadi ini adalah blog saya (meskipun pakai template)
                    </h5>
                </p>

                <br />
            </div>
        </div>
    </div>
</body>

</html>
