<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Surprize Blog</title>
</head>

<body>
    <% include navbar/navbar %>

    <div class="container post">
        <div class="row">
            <div class="col-md-6 post-title">
                <h1>Curriculum Vitae</h1>
                <p class="author">
                    <strong>Curriculum Vitae Ke-1</strong>
                    <span class="text-muted"></span>
                </p>
            </div>
            <div class="col-md-6 col-md-offset-0 post-body">
                <p>
                    <img style="width: 350px; height: auto;" src="https://cdn.idntimes.com/content-images/post/20180811/3bd61042c300b08d69121b9f02a26e8f.jpg">
                </p>
                <p>
                    Curriculum Vitae milik Chris Harrison ini sangat menarik walaupun memiliki isi yang sangat detail.
                    Dengan memilih warna biru sebagai dominan warna Chris sangat berhasil memanjakan mata orang yang melihat CVnya.
                </p>
                <br />
                <figure>
                    <a href="/cv2"></a>
                    <a href="/cv2"><strong>Curriculum Vitae Ke-2</strong></a>
                </figure>
                <br />
                <figure>
                    <a href="/cv3"></a>
                    <a href="/cv3"><strong>Curriculum Vitae Ke-3</strong></a>
                </figure>
            </div>
        </div>
    </div>
    <% include footer/footer %>
</body>

</html>
