<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Surprize Blog</title>
</head>

<body>
    <% include navbar/navbar %>
    <div class="container post">
        <div class="row">
            <div class="col-md-6 post-title">
                <h1>Curriculum Vitae</h1>
                <p class="author">
                    <strong>Apa itu curriculum vitae?</strong>
                </p>
            </div>
            <div class="col-md-6 col-md-offset-0 post-body">
                <p>
                    Blog ini akan menjelaskan pentingkah Curriculum Vitae?
                </p>
                <p>
                    Curriculum Vitae atau biasanya disingkat menjadi (CV) menurut WIKIPEDIA adalah dokumen yang memberikan gambaran mengenai pengalaman
                    sesorang dan kualifikasi lainnya.Di beberapa negara, suatu CV biasanya merupakan hal utama yang
                    dijumpai seorang majikan potensial tentang pencari kerja dan sering digunakan untuk menyaring
                    aplikan (orang-orang yang melamar kerja secara daring) ketika mencari pekerjaan, biasanya
                    dilanjutkan dengan wawancara.
                </p>
                <br />
                <br />
                <p>
                    Begitu melamar pekerjaan, kamu pasti dimintai untuk menyertakan curriculum vitae atau riwayat hidup.
                    Kalau selama ini kamu pikir menulis curriculum vitae itu penting apa ada nya aja, sebaiknya kamu
                    ubah cara pikirmu, karena hal ini adalah hal yang pertama kali menentukan keberhasilanmu mendapatkan
                    pekerjaan. Berikut alasan yang dilansir dari totaljobs.com mengapa CV itu penting:

                    1. Menunjukan kesan pertama.

                    Sebelum rekruter memanggilmu untuk interview, mereka akan melihat CV-mu terlebih dahulu. Para
                    rekruter akan berusaha untuk melihat kepribadianmu dari lembaran kertas yang menuliskan riwayat
                    hidupmu itu. Secara tidak langsung melalui CV kamu memberikan kesan pertama kepada rekruter.

                    2. Memperlihatkan profesionalitas.

                    Saat masuk ke dunia kerja tentu kamu sudah harus bersikap profesional, karena hal itulah yang
                    dibutuhkan. Maka dari itu, tunjukan profesionalitasmu sejak awal.

                    3. Menarik perhatian.

                    Pastikan kamu menulis curriculum vitae yang dapat membuat rekruter tertarik untuk membaca CVmu
                    pertama kali dibandingkan dengan CV orang lain. Caranya adalah dengan mendesain CVmu dengan menarik
                    dan berbeda dari yang lain, namun tetap terlihat profesional.

                    4. Menjelaskan dirimu secara singkat.

                    Dalam curriculum vitae, kamu tentu menuliskan data dirimu dan juga prestasi serta pengalaman apa
                    saja yang sudah kamu kerjakan. Namun jangan sampai kamu terlalu bertele-tele menuliskannya. Tulislah
                    semua itu dengan singkat namun padat dan juga jelas.

                    5. Menonjolkan kemampuanmu.

                    Setiap orang tentu mempunyai kelebihan dan kelemahan, untuk itu tulislah kemampuanmu dengan jujur
                    tapi jangan sampai terlalu berlebihan. Agar kelebihanmu lebih terlihat, jangan tuliskan kelemahanmu.

                    CV yang baik bisa membuatmu menemukan pekerjaan yang baik. Jangan sampai karena CVmu kurang
                    menunjukan hal-hal diatas kamu jadi belum mendapatkan pekerjaan impianmu.
                </p>
            </div>
            <br />
        </div>
        <div style="text-align: center;margin-bottom: 0px;">
            <br>
            <br>
            <h5>Klik tombol berikut untuk melihat contoh Curriculum Vitae yang sangat kreatif</h5>
            <br>
            <a href="/cv"><button type="button" class="btn btn-dark">CONTOH</button></a>
            
        </div>
    </div>
    <% include footer/footer %>
</body>

</html>
